In [2]:
import pandas as pd
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [13]:
def pregunta_01():
    filas=tbl0.shape[0]
    return filas

In [15]:
pregunta_01()

40

In [23]:
registros= tbl0.groupby('_c1').count()
registros=registros['_c0']
registros

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c0, dtype: int64

In [28]:
registros= tbl0.groupby('_c1').mean()
registros=registros['_c2']
registros

C:\Users\Juan Jose Quintero\AppData\Local\Temp\ipykernel_15620\930216841.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  registros= tbl0.groupby('_c1').mean()

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [29]:
registros= tbl0.groupby('_c1').max()
registros=registros['_c2']
registros

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [31]:
tbl1

     _c0 _c4
0      0   b
1      0   g
2      0   f
3      1   a
4      1   f
..   ...  ..
108   38   e
109   38   d
110   39   f
111   39   a
112   39   d

[113 rows x 2 columns]

In [68]:
valores_unicos = tbl1['_c4'].unique()
valores_unicos = valores_unicos.tolist()
valores_unicos = [x.upper() for x in valores_unicos ]
valores_unicos = sorted(list(set(valores_unicos)))

In [69]:
valores_unicos

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [70]:
registros= tbl0.groupby('_c1').sum()
registros=registros['_c2']
registros

C:\Users\Juan Jose Quintero\AppData\Local\Temp\ipykernel_15620\703527266.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  registros= tbl0.groupby('_c1').sum()

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64