In [2]:
import pandas as pd
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [13]:
def pregunta_01():
    filas=tbl0.shape[0]
    return filas

In [15]:
pregunta_01()

40

In [23]:
registros= tbl0.groupby('_c1').count()
registros=registros['_c0']
registros

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c0, dtype: int64

In [28]:
registros= tbl0.groupby('_c1').mean()
registros=registros['_c2']
registros

C:\Users\Juan Jose Quintero\AppData\Local\Temp\ipykernel_15620\930216841.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  registros= tbl0.groupby('_c1').mean()

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [29]:
registros= tbl0.groupby('_c1').max()
registros=registros['_c2']
registros

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [31]:
tbl1

     _c0 _c4
0      0   b
1      0   g
2      0   f
3      1   a
4      1   f
..   ...  ..
108   38   e
109   38   d
110   39   f
111   39   a
112   39   d

[113 rows x 2 columns]

In [68]:
valores_unicos = tbl1['_c4'].unique()
valores_unicos = valores_unicos.tolist()
valores_unicos = [x.upper() for x in valores_unicos ]
valores_unicos = sorted(list(set(valores_unicos)))

In [69]:
valores_unicos

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [70]:
registros= tbl0.groupby('_c1').sum()
registros=registros['_c2']
registros

C:\Users\Juan Jose Quintero\AppData\Local\Temp\ipykernel_15620\703527266.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  registros= tbl0.groupby('_c1').sum()

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [72]:
tbl0['year']=tbl0['_c3'].transform(lambda x: x[0:4])
tbl0

    _c0 _c1  _c2         _c3  suma  year
0     0   E    1  1999-02-28     1  1999
1     1   A    2  1999-10-28     3  1999
2     2   B    5  1998-05-02     7  1998
3     3   A    3  1999-08-28     6  1999
4     4   C    6  1999-12-01    10  1999
5     5   A    7  1998-07-28    12  1998
6     6   A    9  1997-02-28    15  1997
7     7   B    1  1999-05-10     8  1999
8     8   E    2  1997-04-12    10  1997
9     9   B    3  1999-11-23    12  1999
10   10   C    7  1998-01-17    17  1998
11   11   C    5  1998-12-28    16  1998
12   12   D    3  1999-10-15    15  1999
13   13   E    8  1998-11-01    21  1998
14   14   B    9  1999-08-12    23  1999
15   15   D    1  1997-12-01    16  1997
16   16   E    3  1997-07-28    19  1997
17   17   D    5  1998-08-12    22  1998
18   18   E    8  1999-08-24    26  1999
19   19   E    9  1998-01-23    28  1998
20   20   E    7  1999-06-22    27  1999
21   21   E    3  1999-04-24    24  1999
22   22   D    5  1999-06-25    27  1999
23   23   A    1  1999-08-25    24  1999
24   24   E    4  1997-07-26    28  1997
25   25   E    6  1997-09-24    31  1997
26   26   A    8  1997-09-28    34  1997
27   27   E    5  1999-06-22    32  1999
28   28   A    6  1999-07-29    34  1999
29   29   C    0  1999-08-22    29  1999
30   30   A    1  1998-04-26    31  1998
31   31   D    2  1998-02-24    33  1998
32   32   E    5  1999-03-24    37  1999
33   33   B    4  1998-03-23    37  1998
34   34   B    6  1999-04-21    40  1999
35   35   D    7  1999-02-29    42  1999
36   36   B    8  1997-05-21    44  1997
37   37   C    9  1997-07-22    46  1997
38   38   E    1  1999-09-28    39  1999
39   39   E    5  1998-01-26    44  1998

In [71]:
tbl0['suma']=tbl0['_c0']+tbl0['_c2']
tbl0

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28     1
1     1   A    2  1999-10-28     3
2     2   B    5  1998-05-02     7
3     3   A    3  1999-08-28     6
4     4   C    6  1999-12-01    10
5     5   A    7  1998-07-28    12
6     6   A    9  1997-02-28    15
7     7   B    1  1999-05-10     8
8     8   E    2  1997-04-12    10
9     9   B    3  1999-11-23    12
10   10   C    7  1998-01-17    17
11   11   C    5  1998-12-28    16
12   12   D    3  1999-10-15    15
13   13   E    8  1998-11-01    21
14   14   B    9  1999-08-12    23
15   15   D    1  1997-12-01    16
16   16   E    3  1997-07-28    19
17   17   D    5  1998-08-12    22
18   18   E    8  1999-08-24    26
19   19   E    9  1998-01-23    28
20   20   E    7  1999-06-22    27
21   21   E    3  1999-04-24    24
22   22   D    5  1999-06-25    27
23   23   A    1  1999-08-25    24
24   24   E    4  1997-07-26    28
25   25   E    6  1997-09-24    31
26   26   A    8  1997-09-28    34
27   27   E    5  1999-06-22    32
28   28   A    6  1999-07-29    34
29   29   C    0  1999-08-22    29
30   30   A    1  1998-04-26    31
31   31   D    2  1998-02-24    33
32   32   E    5  1999-03-24    37
33   33   B    4  1998-03-23    37
34   34   B    6  1999-04-21    40
35   35   D    7  1999-02-29    42
36   36   B    8  1997-05-21    44
37   37   C    9  1997-07-22    46
38   38   E    1  1999-09-28    39
39   39   E    5  1998-01-26    44

In [73]:
tbl0

    _c0 _c1  _c2         _c3  suma  year
0     0   E    1  1999-02-28     1  1999
1     1   A    2  1999-10-28     3  1999
2     2   B    5  1998-05-02     7  1998
3     3   A    3  1999-08-28     6  1999
4     4   C    6  1999-12-01    10  1999
5     5   A    7  1998-07-28    12  1998
6     6   A    9  1997-02-28    15  1997
7     7   B    1  1999-05-10     8  1999
8     8   E    2  1997-04-12    10  1997
9     9   B    3  1999-11-23    12  1999
10   10   C    7  1998-01-17    17  1998
11   11   C    5  1998-12-28    16  1998
12   12   D    3  1999-10-15    15  1999
13   13   E    8  1998-11-01    21  1998
14   14   B    9  1999-08-12    23  1999
15   15   D    1  1997-12-01    16  1997
16   16   E    3  1997-07-28    19  1997
17   17   D    5  1998-08-12    22  1998
18   18   E    8  1999-08-24    26  1999
19   19   E    9  1998-01-23    28  1998
20   20   E    7  1999-06-22    27  1999
21   21   E    3  1999-04-24    24  1999
22   22   D    5  1999-06-25    27  1999
23   23   A    1  1999-08-25    24  1999
24   24   E    4  1997-07-26    28  1997
25   25   E    6  1997-09-24    31  1997
26   26   A    8  1997-09-28    34  1997
27   27   E    5  1999-06-22    32  1999
28   28   A    6  1999-07-29    34  1999
29   29   C    0  1999-08-22    29  1999
30   30   A    1  1998-04-26    31  1998
31   31   D    2  1998-02-24    33  1998
32   32   E    5  1999-03-24    37  1999
33   33   B    4  1998-03-23    37  1998
34   34   B    6  1999-04-21    40  1999
35   35   D    7  1999-02-29    42  1999
36   36   B    8  1997-05-21    44  1997
37   37   C    9  1997-07-22    46  1997
38   38   E    1  1999-09-28    39  1999
39   39   E    5  1998-01-26    44  1998

In [79]:
registros= tbl0.groupby('_c1')['_c2'].apply(lambda x:  ':'.join(map(str,sorted(list(x)))) )
registros= pd.DataFrame(registros)
registros

                             _c2
_c1
A                1:1:2:3:6:7:8:9
B                  1:3:4:5:6:8:9
C                      0:5:6:7:9
D                    1:2:3:5:5:7
E    1:1:2:3:3:4:5:5:5:6:7:8:8:9

In [82]:
registros= tbl1.groupby('_c0')['_c4'].apply(lambda x:  ','.join(map(str,sorted(list(x)))) )
registros= pd.DataFrame(registros)
registros

         _c4
_c0
0      b,f,g
1      a,c,f
2    a,c,e,f
3        a,b
4    a,d,f,g
5        c,d
6      a,d,g
7        a,b
8    a,d,e,f
9    b,d,f,g
10   b,c,d,f
11   a,c,d,e
12   b,e,f,g
13       c,f
14       b,d
15       e,f
16     b,e,f
17       a,g
18   a,c,e,f
19       a,e
20       e,f
21     b,c,g
22     a,c,f
23     a,d,f
24       c,d
25     c,d,e
26     a,e,f
27     a,c,g
28       e,f
29   a,c,f,g
30       b,f
31       b,f
32       a,c
33     b,c,f
34     a,e,f
35       a,f
36       a,c
37   a,c,e,f
38       d,e
39     a,d,f